<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.org.dao.ISyncOrgDao">
	<resultMap id="BaseResultMap" type="com.nb.org.domain.SyncOrg">
		<id property="id" column="id" />
		<result property="orgcoding" column="orgcoding" />
		<result property="depId" column="depId" />
	</resultMap>
	<insert id="insert" parameterType="com.nb.org.domain.SyncOrg"
		keyProperty="id" useGeneratedKeys="true">
		insert into sync_org
		(orgcoding,depId,devcoding) values ( #{orgcoding},#{depId},#{devcoding})
	</insert> 
	<delete id="deteleByOrgCoding" parameterType="java.lang.String">
		delete from sync_org
		where orgcoding = #{orgcoding}
	</delete>
	<select id="selectByOrgCoding" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from sync_org where orgcoding=#{orgcoding}
	</select>
	<select id="selectByDepId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from sync_org where depId=#{depId}
	</select>
</mapper>